# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Dataset and annotations
data/raw/
data/processed/
data/annotations/
data/yolo_dataset/

# Trained models
models/

# Training outputs
runs/

# Logs
*.log